{% extends "components/base.html" %}
{% load static %}
{% block css%}
    <link rel="stylesheet" href={% static "css/form.css" %}>
{% endblock %}

{% block content %}
    
    <form method="post" enctype="multipart/form-data" class="py-4">
        {% csrf_token %}  
        <div class="card shadow p-4">
            <h2 class="text-center text-primary mb-4">{{ title1 }}</h2>
            <div class="row g-0">
                
                <!-- Columna de la izquierda -->
                <div class="col-lg-4">
                    <div id="imagenPreview" class="text-center mb-4">
                        {% if form.foto.value %}
                            <img id="imagenSeleccionada" src="{{ form.foto.value.url }}" class="rounded img-fluid" alt="Foto del doctor">
                        {% else %}
                            <img id="imagenSeleccionada" src="{% static 'img/empty.png' %}" class="rounded img-fluid" alt="Foto por defecto">
                        {% endif %}
                    </div>
                    <div class="text-center">
                        <label for="{{ form.foto.id_for_label }}" class="form-label fw-bold">{{ form.foto.label }}</label>
                        {{ form.foto }}
                    </div>
                </div>

                <!-- Columna de la derecha -->
                <div class="col-lg-8 px-2">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="{{ form.nombres.id_for_label }}" class="form-label fw-bold">{{ form.nombres.label }}</label>
                            {{ form.nombres }}
                            {{ form.nombres.errors }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="{{ form.apellidos.id_for_label }}" class="form-label fw-bold">{{ form.apellidos.label }}</label>
                            {{ form.apellidos }}
                            {{ form.apellidos.errors }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="{{ form.cedula.id_for_label }}" class="form-label fw-bold">{{ form.cedula.label }}</label>
                            {{ form.cedula }}
                            {{ form.cedula.errors }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="{{ form.fecha_nacimiento.id_for_label }}" class="form-label fw-bold">{{ form.fecha_nacimiento.label }}</label>
                            {{ form.fecha_nacimiento }}
                            {{ form.fecha_nacimiento.errors }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="{{ form.direccion.id_for_label }}" class="form-label fw-bold">{{ form.direccion.label }}</label>
                            {{ form.direccion }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="{{ form.latitud.id_for_label }}" class="form-label fw-bold">{{ form.latitud.label }}</label>
                            {{ form.latitud }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="{{ form.longitud.id_for_label }}" class="form-label fw-bold">{{ form.longitud.label }}</label>
                            {{ form.longitud }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="{{ form.codigoUnicoDoctor.id_for_label }}" class="form-label fw-bold">{{ form.codigoUnicoDoctor.label }}</label>
                            {{ form.codigoUnicoDoctor }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="{{ form.especialidad.id_for_label }}" class="form-label fw-bold">{{ form.especialidad.label }}</label>
                            {{ form.especialidad }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="{{ form.telefonos.id_for_label }}" class="form-label fw-bold">{{ form.telefonos.label }}</label>
                            {{ form.telefonos }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="{{ form.email.id_for_label }}" class="form-label fw-bold">{{ form.email.label }}</label>
                            {{ form.email }}
                            {{ form.email.errors }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="{{ form.horario_atencion.id_for_label }}" class="form-label fw-bold">{{ form.horario_atencion.label }}</label>
                            {{ form.horario_atencion }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="{{ form.duracion_cita.id_for_label }}" class="form-label fw-bold">{{ form.duracion_cita.label }}</label>
                            {{ form.duracion_cita }}
                        </div>

                        <!-- Campo para subir el archivo de curriculum -->
                        <div class="col-md-6 mb-3">
                            <label for="{{ form.curriculum.id_for_label }}" class="form-label fw-bold">{{ form.curriculum.label }}</label>
                            {{ form.curriculum }}
                        </div>
                        
                        <div class="col-md-6 mb-3">
                            <label for="{{ form.firmaDigital.id_for_label }}" class="form-label fw-bold">{{ form.firmaDigital.label }}</label>
                            {{ form.firmaDigital }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="{{ form.imagen_receta.id_for_label }}" class="form-label fw-bold">{{ form.imagen_receta.label }}</label>
                            {{ form.imagen_receta }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="{{ form.activo.id_for_label }}" class="form-label fw-bold">{{ form.activo.label }}</label>
                            {{ form.activo }}
                        </div>
                    </div>

                    <div class="d-flex justify-content-end mt-4">
                        <button class="btn btn-outline-success me-2" type="submit">Grabar Doctor</button>
                        <a class="btn btn-outline-warning" href="{% url 'core:doctor_list' %}">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    
{% endblock content %}
