{% extends "components/base.html" %}

{% block content %} 
  <div class="container-fluid">
    <div class="row">
       <!-- Main Content -->
        <div class="col-md-12 col-lg-12 px-md-4 main-content">
           
           
            <!-- Patient List Content -->
            <div class="card mb-4">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h3 class="card-title mb-0 text-primary-emphasis fw-bold">{{title1}}</h3>
                   </div>

                   <!-- Search and Filter -->
                   <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-between g-3 mb-4">
                    <form method="GET" action="{% url 'core:marcaMedicamento_list' %}" class="d-flex flex-column flex-md-row gap-3 align-items-md-center">
                        <div class="col-md-6">
                            <input type="text" name="q" class="form-control search-box"   value="{{ request.GET.q }}" placeholder="Buscar marca de medicamento...">
                        </div>
                      </form>
                      <a class="btn btn-primary mt-3 mt-md-0" href="{% url 'core:marcaMedicamento_create' %}">
                                <i class="fas fa-plus me-2"></i>Nueva Marca de Medicamento
                      </a>
                    </div>

                    <!-- Patient Table -->
                    <div class="table-responsive">
                        <table class="table table-hover align-middle">
                            <thead class="table-light">
                                <tr>
                                    <th>Marca de Medicamento</th>
                                    <th>Descripcion</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                               {% for item in marcaMedicamentos %} 
                                
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <div class="fw-bold">{{item.nombre}}</div>
                                                <small class="text-muted">{{item.id}}</small>
                                            </div>
                                    </td>
                                    <td>{{item.descripcion}}</td>
                                    <td>
                                        {% if item.activo %}
                                            <span class="badge bg-success">Activo</span>
                                        {% else %}
                                            <span class="badge bg-danger">Inactivo</span>
                                        {% endif %}
        
                                    </td>
                                    <td>
                                        <div class="action-buttons d-flex gap-2">
                                        <button class="btn btn-primary btn-sm" title="Detalle Marca de Medicamento"
                                            onclick="verMarcaMedicamento('{{  item.id }}')">
                                            <i class="fas fa-eye"></i>
                                        </button>
                                            <a href="{% url 'core:marcaMedicamento_update' item.id %}" class="btn btn-success btn-sm text-white" title="Editar Marca de Medicamento">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            {% with id=item.id name=item.nombre msg="Esta seguro de eliminar al paciente:" %}
                                             <button class="btn btn-danger" title="Eliminar Marca de Medicamento" onclick="confirmDelete('{{ id }}','{{name}}','{{ msg|escapejs }}');"> <i class="fa-solid fa-trash"></i></button>
                                            {% endwith %}
                                        </div>
                                    </td>
                                </tr>
                             {% endfor %} 
                            </tbody>
                        </table>
                    </div>

                    <!-- Pagination -->
                    <nav class="d-flex justify-content-between align-items-center mt-4">
                        <p class="text-muted mb-0">{{ page_obj.start_index }} - {{ page_obj.end_index }} de {{ page_obj.paginator.count }} Marca de Medicamentos</p>
                        <ul class="pagination mb-0">
                            {% if page_obj.has_previous %} 
                                <li class="page-item">
                                    <a class="page-link" href="?page=1"><i class="fas fa-chevron-left"></i></a>
                                </li>
                            {% endif %}
                            {% for num in page_obj.paginator.page_range %}
                              <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{num}}</a></li>
                           
                            {% endfor %}
                            {% if page_obj.has_next %}
                              <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}"><i class="fas fa-chevron-right"></i></a>
                              </li>
                             {% endif %}
                        </ul>
                    </nav>
                    <!-- Fin de Pagination -->
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- añade el modal generico de eliminacion -->
  {% include 'includes/confirm_delete_modal.html' %}
  <!-- añade el modal particular de los datos de detalle del paciente -->
  {% include 'core/patient/includes/detail_modal.html' %}
 
{% endblock %}
{% block js %}
  <script>
    /* funciones del modal eliminar*/
    function confirmDelete(id,name,msg) {
        // Actualiza el mensaje del modal
        document.getElementById('modalMessage').innerText = `${msg} ${name}`;

        // Actualiza la acción del formulario
        const form = document.getElementById('deleteForm');
        form.action = `/marcaMedicamento_delete/${id}/`; // Ajusta la URL según tu configuración

        // Muestra el modal
        const modal = new bootstrap.Modal(document.getElementById('confirmDeleteModal'));
        modal.show();
    }
    function closeModal() {
        const modalElement = document.getElementById('confirmDeleteModal');
        const modalInstance = bootstrap.Modal.getInstance(modalElement);
        if (modalInstance) {
            modalInstance.hide();
        }
    }
    /* funciones del mode¿al detalle */
    function verMarcaMedicamento(id) {
        // Obtener los datos de la marca de medicamento
        fetch(`/marcaMedicamento_detail/${id}/`)
          .then(response => {
            if (!response.ok) {  // Verificar si la respuesta no es exitosa
              throw new Error('Error en la solicitud fetch');
            }
            return response.json();
          })
          .then(data => {
            // Llenar el modal con los datos
            document.getElementById('marca-id').textContent = data.id;
            document.getElementById('marca-nombre').textContent = data.nombre;
            document.getElementById('marca-descripcion').textContent = data.descripcion;
      
            // Mostrar el modal
            const modalElement = document.getElementById('marcaMedicamentoModal');
            const modal = new bootstrap.Modal(modalElement);
            modal.show();
          })
          .catch(error => {
            console.error('Error:', error);
            alert('Error al cargar los datos de la marca de medicamento');
          });
      }
  </script>
{% endblock %}
